@import "../../resources/static/main.css";

.header {
    background-color: var(--green-color);
    height: 9.5rem;
    margin-top: var(--chrome-margin-unapply);
    margin-left: var(--chrome-margin-unapply);
    display: grid;
    align-items: center;
}

.contentContainer{
    padding-left: var(--unexpanded-menu-width);
    display: grid;
    grid-template-columns: 2fr repeat(3, 1.2fr) repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    font-family: var(--font-header);
}

.portalName {
    color: var(--dark-blue-color);
    font-size: 2.25rem;
    cursor: default;
}

.clickableContentStyle{
    color: var(--dark-blue-color);
    text-decoration: underline;
    text-underline-offset: var(--text-underline-offset);
    cursor: pointer;
}

.links{
    font-size: 2rem;
}

.loginAndRegistration {
    font-size: 1.5rem;
}


